@import url('base/reset.css');
@import url('base/variables.css');
@import url('base/typography.css');

@import url('helpers/index.css');

@import url('layout/header.css');
@import url('layout/container.css');
@import url('layout/sidebar.css');

@import url('components/overlay.css');
@import url('components/cards.css');
@import url('components/badges.css');
@import url('components/forms.css');
@import url('components/buttons.css');
@import url('components/fab.css');
@import url('components/filter.css');

@import url('views/auth.css');
@import url('views/home.css');
@import url('views/profile.css');
@import url('views/tasks.css');
@import url('views/task.css');
@import url('views/detail.css');
@import url('views/statistics.css');
@import url('views/seting.css');


@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}