.home {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  justify-content: space-evenly;
}

.home-greeting h2 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.home-greeting p {
  color: var(--text-secondary);
  font-size: 0.9rem;
}

.home-tasks h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.home-task-list {
  /* display: flex; */
  /* flex-direction: column;
  gap: 0.5rem; */
  /* list-style: none; */
}

.home-task-item {
  background: white;
  padding: 0.75rem;
  margin: 0 0.2rem;
  border-radius: 0.75rem;
  border: var(--border-soft);
  font-size: 0.9rem;
  text-decoration: none;
  color: var(--js-black);
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--space-sm);
}

/* .home-task-item:hover {
  background: var(--color-primary-hover);
  color: var(--color-dark-hover);
  border-color: var(--color-primary-hover);
  cursor: pointer;
} */

.home-task-item i {}

.home-task-item span {}

.primary-action {
  background: var(--color-secondary);
  color: var(--color-primary);
  border: none;
  border-radius: 1rem;
  padding: 0.9rem;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-lg);
}

/*
===============================
Categorias activas
===============================
*/
.categories {

}

.categories__header {
  margin-bottom: var(--space-md);
}

.categories__title {
  font-size: var(--font-lg);
  font-weight: 600;
}

.categories__subtitle {
  font-size: var(--font-sm);
  color: var(--color-gray-600);
}

.categories__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-md);
}

.category-card {
  background-color: var(--color-primary-200);
  border-radius: var(--border-radius-lg);
  padding: var(--space-md);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 120px;
  cursor: pointer;
  transition: transform var(--transition-fast),
    box-shadow var(--transition-fast);
}

.category-card__count {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-primary-800);
}

.category-card__name {
  font-size: var(--font-md);
  font-weight: 500;
  margin-top: var(--space-sm);
}