.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: var(--layout-sidebar-width);
  height: 100vh;
  background: var(--color-gray-100);
  padding: 0 var(--space-md);
  transform: translateX(-100%);
  transition: transform var(--transition-base);
  z-index: 1000;
  border-right: var(--border-default);
  overflow: overlay;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar__header {
  height: var(--layout-toolbar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex: 0 0 auto;
}

.sidebar__header span {
  font-weight: var(--font-weight-bold);
}

.menu-close-btn {
  border: none;
  color: var(--color-secondary);
  width: 35px;
  height: 35px;
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-close-btn:active {
  background-color: var(--color-primary-active);
}

.sidebar__content {
  height: calc(100vh - (var(--layout-toolbar-height) + var(--space-md)));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
}

.user-card {
  background-color: var(--color-primary);
  border-radius: var(--border-radius-md);
  padding: var(--space-sm);
  color: var(--color-text-primary);
  margin-bottom: var(--space-md);
  border: var(--border-default);
}

.user-card__header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-avatar-lg {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: var(--color-secondary);
  color: var(--color-primary);
  display: grid;
  place-items: center;
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
}

.view-profile-btn {
  margin-top: var(--space-sm);
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: none;
  border-radius: var(--border-radius-md);
  padding: 0.6rem;
  font-weight: var(--font-weight-semibold);
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.view-profile-btn:hover {
  background: var(--color-secondary-hover);
}

.user-card__body {
  margin-top: var(--space-sm);
}

.user-name {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-lg);
  color: var(--color-text-primary);
}

.user-email {
  font-size: var(--font-size-md);
  color: var(--color-text-secondary);
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.nav-item {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  padding: 0.85rem 1rem;
  margin-bottom: var(--space-sm);
  border-radius: var(--border-radius-md);
  background: var(--color-surface);
  border: var(--border-default);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  color: var(--text-primary);
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition-base);
}

.nav-icon {
  font-size: var(--font-size-2xl);
}

.nav-item:hover {
  background: var(--color-primary-hover);
  border-color: var(--color-primary-hover);
}

.nav-item.active {
  background: var(--color-primary);
  color: var(--color-secondary);
  box-shadow: var(--shadow-sm)
}

.logout .button {
  width: 100%;
  background: var(--color-secondary);
  color: var(--color-primary);
  padding: var(--space-sm);
  border: none;
  border-radius: var(--border-radius-md);
  font-weight: var(--font-weight-semibold);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-md);
  margin-bottom: var(--space-sm);
}

.logout button i, .logout button span {
  font-size: var(--font-size-lg);
}

.logout .button:hover {
  background: var(--color-secondary-hover);
}