.badge {
  background-color: var(--color-primary);
  color: var(--color-dark);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
  height: 28px;
  min-width: 28px;
  padding: var(--space-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-md);
}

.badge--info {
  background-color: var(--color-info);
  color: var(--color-white);
}

.badge--warning {
  background-color: var(--color-warning);
  color: var(--color-white);
}

.badge--success {
  background-color: var(--color-success);
  color: var(--color-white);
}

.badge--danger {
  background-color: var(--color-danger);
  color: var(--color-white);
}

.badge--dark {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.badge--alta {
  background-color: var(--color-red-100);
  color: var(--color-red-500);
}

.badge--media {
  background-color: var(--color-yellow-50);
  color: var(--color-yellow-500);
}

.badge--baja {
  background-color: var(--color-green-50);
  color: var(--color-green-500);
}