.task-filters {
  background-color: var(--color-white);
  padding: var(--space-md);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-sm);
}

.task-filters__main {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 60px;
  gap: var(--space-xs);
  align-items: end;
}

.task-filters__advanced {
  display: none;
  margin-top: var(--space-md);
  gap: var(--space-md);
  align-items: end;
}

.task-filters__advanced.open {
  display: grid;
}

.data-filter {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.data-filter label {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
  margin-bottom: var(--space-2xs);
  color: var(--color-secondary);
  text-align: left;
  padding-left: var(--space-2xs);
}

.filter {
  outline: none;
  width: 100%;
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--border-radius-sm);
  border: var(--border-default);
  font-size: var(--font-size-md);
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

@media (min-width: 768px) {
  .task-filters__advanced.open {
    grid-template-columns: repeat(3, 1fr) 100px;
  }
}